src/schema/object.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by 123 (456) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ship_name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="call_sign" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="voyage_number" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="captain_name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="date" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="route_id_number" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="routes" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="reason_objection" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="remark" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="call_sign" type="xs:string"/>
	<xs:element name="captain_name" type="xs:string"/>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="latitude" type="xs:string"/>
	<xs:element name="longtitude" type="xs:string"/>
	<xs:element name="reason" type="xs:string"/>
	<xs:element name="route_id_number" type="xs:string"/>
	<xs:element name="remark" type="xs:string"/>
	<xs:element name="id" type="xs:string"/>
	<xs:element name="ship_name" type="xs:string"/>
	<xs:element name="voyage_number" type="xs:string"/>

	<xs:element name="objection_report">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reason_objection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reason" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="route">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="latitude" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="longtitude" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="routes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="route" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
