src/schema/quarter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by 123 (456) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ship_name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="call_sign" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="captain_name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="date" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="year" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="quarter" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="cargo_info" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="total_fuel_info" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="call_sign" type="xs:string"/>
	<xs:element name="ship_name" type="xs:string"/>
	<xs:element name="captain_name" type="xs:string"/>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="year" type="xs:string"/>
	<xs:element name="quarter" type="xs:string"/>


	<xs:element name="cargo_info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cargo_item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="quarterly_report">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="total_fuel_info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="total_fuel_consumption" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="total_fuel_supplied" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="total_fuel_rob" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cargo_item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cargo_id" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="cargo_weight" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="distance_travelled" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="distance_me_revoluation" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="me_average_rpm" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="average_slip" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="tfc_ifo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="tfc_lsfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="tfc_mdo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="tfc_lsmdo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="perf_effciency" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="total_fuel_consumption">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ifo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="lsfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="mdo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="lsmdo" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="total_fuel_supplied">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ifo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="lsfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="mdo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="lsmdo" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="total_fuel_supplied">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ifo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="lsfo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="mdo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="lsmdo" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
